rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    // USERS
    match /users/{userId} {

      // Profile
      allow read, write: if signedIn();

      // Accounts
      match /accounts/data {
        allow read, write: if signedIn();
      }

      // Transactions
      match /transactions/data {
        allow read, write: if signedIn();
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
